CIRCUITPY_WIFI_SSID = "YOUR_WIFI_SSID"
CIRCUITPY_WIFI_PASSWORD = "YOUR_WIFI_PASSWORD"
OPENWEATHER_TOKEN = "your_openweathermap_api_key"
AIO_USERNAME = "your_adafruit_io_username"
AIO_KEY = "your_adafruit_io_key"
mqtt_broker = "192.168.1.X"
mqtt_user = "your_mqtt_user"
mqtt_password = "your_mqtt_password"
BEARER_TOKEN = "your_home_assistant_long_lived_access_token"
